  body {
    
    background-image: url(../Assets/wvsu-mpc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
    margin: 0;
}

#logo img {
    
    margin-top: 30px;
}

@font-face {
    
    font-family: Awesome;
    src: url(../Fonts/Awesome.ttf);
}

#text h1 {
    
    font-family: Awesome;
    color: aliceblue;
    font-size: 80pt;
    margin-top: 80px;
    text-shadow: 2px 2px #000000;

}

#text p {
    
    font-family: Calibri (Light);
    color: aliceblue;
    font-size: 20pt;
    text-shadow: 2px 2px #000000;
}

#explore img {
    
    float: right;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    -webkit-transition: all 1s ease;
}

#social {
    
    list-style: none;
    float: left;
    margin-left: 50px;
    padding-right: 15px;
}

#explore img:hover {
    
    -webkit-transform:scale(1.25); /* Safari and Chrome */
}

#explore {
    
    width: 400px;
    height: 250px;
    float: right;
}

